:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .container-fluid .jumbotron, .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-bottom: 48px;
        padding-top: 48px;
    }
}

.jumbotron {
    background-color: #eee;
    margin-bottom: 30px;
    padding: 30px 60px;
}

.spinner-container {
    position: relative;
    height: 90vh;
}

.spinner-centered {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
}